 	header{
 		border:1px solid blue;
 	}



/*Top  */
 	.navList {
		list-style-type: none; <!--take bullets out-->
		<!--to remove indentation-->
		margin: 0;
		padding: 0; 
	}

	.navList li {
		display: inline;
		margin-left: 7px;
	}

	.navList a:link, 
	.navList a:visited {
		color: rgb(88, 89, 81);
		text-decoration: none;
		text-transform: uppercase;
		font: 1em Arial;
		font-weight: bold;
		padding: 5px 10px 0 10px;
	}

	.navList a:hover {
		color: blue;
	}

/*Top search box */
	
	.searchBox {
		width: 180px;
		height: 22px;
		border: 1px solid lightgray;
		border-radius: 5px;
		color: #cc6;
	}

	.searchBox > input {
		border: none;
		width: 145px;
		float: left;
		padding-left: 3px;
		color: #585951;
		cursor: pointer;
	 }
	 
	
	 .searchBox > .header-menu-separator {
		color: lightgray;
		width: 2px;
		float: left;
     }
	 
	 .searchBox .searchIcon {
		width: 28px;
		float: left;
		margin-top: 4px;
		
	 }
	 
	 .searchBox .searchIcon a > img {
		padding-left: 7px;
	 }

/* Language/Login */
	 
	 .langLogin {
	 	list-style-type: none;
	 	font: 1em Arial;
	 	color:#585951;
	 }

	 .langLogin select{
	 	border: none;
	 }

	 
	 .langLogin li {
	 	display: inline;
	 }

	 .langLogin a:link,
	 .langLogin a:visited,
	 .langLogin a:focus {
	 	text-decoration: none;
	 	color:#585951;
	 	padding-left: 5px;
	 }

	 .langLogin a:hover {
	 	text-decoration: underline;
	 	color: blue;
	 }

	.main {
 		border:1px solid green;
 	}

 	/*Slides*/

 	.titleSlide {
		font: 2.5em/42px Arial;
		color: #ffffff; 
		text-shadow: 2px 2px 4px #000000; 
		text-decoration: none;
	}

	.subTitleSlide {
		font-size: 18px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ffffff; 
		text-decoration: 
	}

	/*Button*/

	.btnBig {
		padding: 8px 89px 7px 15px;
		border: 1px #2f95c8;
		border-radius: 5px;
		background:  #3399CC;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
		font-family: Arial, "Helvetica Neue", Helvetica,  sans-serif;
		font-size: 17px;
		color: #ffffff;
		text-decoration: none;
		position: relative;
	}
	
	.btnBig a:link,
	.btnBig a:visited {
		background: #2f95c8;
	}

	.btnBig:hover {
		background: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
	}
	
	
	.btnBig:after {
		content:'\25BA';
		font-size: 0.7em;
		position: absolute;
		right: 14px;
	}

	/*Icon for slide*/
	.sliderIcon {
		margin-left: -40px;
	}

	.sliderIcon li {
		list-style-type: none;
		display: inline-block;
		background:  #ffffff;
		width: 14px;
		height: 15px;
		border-radius: 3px;
		cursor: pointer;
		border: 1px solid lightgray;

	}

	.sliderIcon li.active {
		background:  #3399CC;
	}
	
	/*Module Colorful Boxes */

	.moduleBox li {
		display: inline-block;
		width: 219px;
		height: 175px;
		border-radius: 6px;
		background-color: rgba(255, 102, 0, 0.9);
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #ffffff;
		padding: 15px 0 0 9px; 
		border: 1px orange;
		box-shadow: 0px 4px 4px 0px;
		box-sizing: border-box;
	}


		.moduleBox li.mOrngBox{
			background-color: rgba(255, 102, 0, 0.9);
		}
		.moduleBox li.mPinkBox{
			background-color: rgba(255, 51, 154, 0.9);
		}
		.moduleBox li.mGreenBox{
			background-color: rgba(102, 204, 51, 0.9);
		}
		.moduleBox li.mOrngBox:hover{
			background: #ff5400;
		}
		.moduleBox li.mPinkBox:hover{
			background: #d82b82;
		}
		.moduleBox li.mGreenBox:hover{
			background: #5aa435;
		}


	.moduleBox li > p {
		font-size: 1em;
		margin: 0;
		line-height: 21px;
	}
	
	.moduleBox li > p:nth-child(3)  {
		font-size: 0.9em;
		line-height: 18px;
	}

	.moduleBox li:hover {
	    background: #ff5400;
	}
	
	.moduleBox li:hover .imgBox{
	    text-decoration:underline;
	  	color: #ffffff;
	}

	.moduleBox li .imgBox {
	  padding-top: 19px;
	}

	.moduleBox li .imgBox a:link,
	.moduleBox li .imgBox a:visited,
	.moduleBox li .imgBox a:focus{
	  text-decoration:none;
	  color: #ffffff;
	}
	
	.moduleBox .imgBox a:hover {
	  text-decoration:underline;
	  color: #ffffff;
	}

	/* Section Comverse's Services */

	.titleSection {
			font-size: 42px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #ffffff;  
			text-transform: uppercase;
			text-shadow: 2px 2px 4px #000000; 
		}

	/*  Comverse's Icon Services */
	.servicesBox {
		list-style-type: none;
		/*margin-left: 10px;*/
	}

	.servicesBox li{
		width: 150px;
		height: 157px;
		border: 1px solid black;
		display: inline-block;
		list-style-type: none;
		
	}
	
	.servicesBox a {
		text-decoration: none;		
	}
	
	.servicesBox .imgIcon {
		width: 143px;
		height:62px;
		margin: 17px;
		
		
	}
	
	.servicesBox p {
		color: #ffffff;
		font-size: 16px;
		text-decoration: none;
		padding: 5px 0 0 12px ;
		text-align: center;
		text-shadow: 2px 2px 4px #000000; 	
	}
	/*is there better solution for the below*/
	.servicesBox .imgIcon0{
		background: url(img/hp_solution_icon_BUSINESS_STIMULATION_ANALYTICS.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon0:hover {
		 background: url(img/hp_solution_icon_BUSINESS_STIMULATION_ANALYTICS_hover.png); 
	}

	.servicesBox .imgIcon1{
		background: url(img/hp_solution_icon_DIGITAL_CUSTOMER-EXPERIENCE.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon1:hover {
		 background: url(img/hp_solution_icon_DIGITAL_CUSTOMER-EXPERIENCE_hover.png);  
	}

	.servicesBox .imgIcon2{
		background: url(img/hp_solution_icon_SMART_MONETIZATION.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon2:hover {
		 background: url(img/hp_solution_icon_SMART_MONETIZATION_hover.png);  
	}
	
	.servicesBox .imgIcon3{
		background: url(img/hp_solution_icon_OPTIMIZATION_EFFICIENCY.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon3:hover {
		 background: url(img/hp_solution_icon_OPTIMIZATION_EFFICIENCY_hover.png);  
	}
	
	.servicesBox .imgIcon4{
		background: url(img/hp_solution_icon_PERSONALIZED_CHOICE_CONTROL.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon4:hover {
		 background: url(img/hp_solution_icon_PERSONALIZED_CHOICE_CONTROL_hover.png);  
	}
	
	.servicesBox .imgIcon5{
		background: url(img/hp_solution_icon_BUSINESS_TRANSFORMATION.png) no-repeat ;
		
	}
	
	.servicesBox .imgIcon5:hover {
		 background: url(img/hp_solution_icon_BUSINESS_TRANSFORMATION_hover.png);  
	}
	
    /*Section Comverse's Solutions */

	.soluCom li {
		list-style-type: none;
		display: inline-block;
		margin-right: 90px;
	}

	.soluCom a {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 2em;
		color: #ffffff;
		text-decoration: none;
		text-shadow: 2px 2px 4px #000000;
	}

	/*Section Happening at Comverse's*/

	.eventList li {
		list-style-type: none;
		display: inline-block;
		margin-right: 13px;
	}

	.eventList .textBelow{
		height: 100%;
		width: 24px;
		color: #ffffff;
		text-decoration: none;
		text-shadow: 2px 2px 4px #000000;
		border:  1px solid black;
	}

	.eventList .textBelow:hover{
		color: #000000;
		text-decoration: none;
	}

	.subTitleSection{
		font-size:30px;
		color: #ffffff; 
		text-transform: uppercase;
		text-shadow: 2px 2px 4px #000000;
	}

	.transparentBox {
		width: 295px;
		height: 121px;
		background-color: rgba(256, 256, 256, 0.4);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}

	 .transparentBox .blueBox{
		width: 69px;
		height: 99px;
		color: #ffffff;
		background-color: #3399CC;
		float:left;
		margin: 10px 0 0 10px;
	}

	.transparentBox .date{
		height: 67px;
		font-size: 40px;
		border-bottom: 3px dotted white;
		text-align: center;
		line-height: 60px;
	}

	.transparentBox .month{
		height: 33px;
		color: #ffffff;
		background-color: #3399CC;
		font-size: 15px;
		text-align: center;
		line-height: 35px;
	}

	.transparentBox .insideBox{
	  width: 186px;
	  padding: 1px 0 0 100px;
	}
	
	.eventList .titleSection > span{
		color: #565656;
		font-size: 1em ;
		padding: 0 0 56px 0;
		text-align: center;
		text-transform: uppercase;
	}

	.wrapBox {
		width:340px;
		height: 210px;
		border: 1px solid black;
		list-style-type: none;
	}

	

	.wrapBox img{
		width: 100px;
		height: 100px;
		padding: 11px 9px;
		float: left;
		color: #6D6D6D;
	}

	.wrapBox .text{
		height: 100%;
	}


	.wBbelow {
		width: 302px;
		height: 62px;
		
		margin: 0 auto;
	}

	.wBbelow p {
	/* margin: 0; */
	margin-top: 12px;
	margin-bottom: 0px;
	}

	.wBbelow div {
		width:182px;
		float: left;
	}

	.wBbelow p:first-child  {
		line-height: 6px;
		font-size: 1em;
		color: #3399CC;
	}


	.wBbelow img {
		width: 100px;
		height: 42px;
		float: left;
}
	.wBTop {
		width: 302px;
		height: 130px;
		margin: 0 auto;
		border-bottom: 1px solid #DDDDDD;
		
	}

	.tinyWb {
		width: 108px;
		height: 96px;
		border:1px solid black;
		list-style-type: none;
		margin-top: 10px;
	}
